@import url('https://fonts.googleapis.com/css2?family=Chango&family=Roboto+Mono&family=Ubuntu:wght@700&display=swap');

.chango {
	font-family: 'Chango';
}
.roboto {
	font-family: 'Roboto Mono';
}
.ubuntu {
	font-family: 'Ubuntu';
}

body{
	font-family: "Chango";
}

a, a:link, a:visited {
	background-color: #ffff00;
	color: #ff0000;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border: 2px solid #ff0000;
	border-radius: 5px;
	margin: 2px;
	transition: 0.5s;
}

a:hover, a:active {
	background-color: #ff0000;
	color: #ffff00;
}
