a:link, a:visited {
	background-color: #ffffff;
	color: #22ff22;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-width: 5px;
	border-color: #22ff22;
	border-radius: 5px;
	transition: 1s;
}

a:hover, a:active {
	background-color: #22ff22;
	color: #ffffff;
}
