a, a:link, a:visited {
	background-color: #ffff00;
	color: #ff0000;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border: 2px solid #ff0000;
	border-radius: 5px;
	margin: 2px;
}

a:hover, a:active {
	background-color: #ff0000;
	color: #ffff00;
	transition: 0.5s;
}
